# See http://help.github.com/ignore-files/ for more about ignoring files.

/client/.env
/client/build
/client/dist
/client/node_modules
/client/lint.xml
/client/reports/*
/client/babelify-src
/client/docs/_build
/client/.DS_Store
/client/.tern-port
/client/TODO
/client/soljson.js
/client/*~
/client/*_group*.*.ts
/client/*_group*.ts
/client/stats.json


# compiled output
/client/dist
/server/dist
/client/tmp
/client/out-tsc

# dependencies
/client/node_modules
/server/node_modules

# IDEs and editors
/client/.idea
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace
/client/.vscode/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/clilent/.sass-cache
/clilent/connect.lock
/clilent/coverage
/clilent/libpeerconnection.log
/clilent/npm-debug.log
/clilent/lerna-debug.log
/clilent/yarn-error.log
/clilent/testem.log
/clilent/typings

# System Files
/client/.DS_Store
/client/.vscode/settings.json
/client/.vscode/launch.json